@* 
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center">Login</h2>
            <form method="post" asp-controller="Pet" asp-action="Login">
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="Mật khẩu" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
} *@


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - eStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eStore.styles.css" asp-append-version="true" />
</head>
<body style="background-image:url(https://i.ytimg.com/vi/qadu4SAYOsk/maxresdefault.jpg);background-size:contain;">
    <!-- Section: Design Block -->
    <div id="main-login" >
        <section >
            <!-- Jumbotron -->
            <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
                <div class="container">
                    <div class="row gx-lg-5 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0 text-center">
                            <h1 class="my-5 display-3 fw-bold ls-tight text-light" style="text-shadow: #3333FF 1px 0 10px;">
                                Pet Shop Welcome
                            </h1>
                            @* <p style="text-shadow: #3333FF 1px 0 10px;">
                                "Proudly where pet love becomes a reality."
                                <br>
                            </p> *@
                        </div>

                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card">
                                <div class="card-body py-5 px-md-5">
                                    <form method="post" asp-controller="Pet" asp-action="Login">
                                        <!-- 2 column grid layout with text inputs for the first and last names -->
                                        <div class="row pb-2">
                                            <h3 class="text-center">Login</h3>
                                        </div>

                                        <!-- Email input -->
                                        <div class="form-outline form-floating mb-4">
                                            <input name="InputEmail" type="email" required id="form3Example3" class="form-control" />
                                            <label class="form-label" for="form3Example3">Email</label>
                                            
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline form-floating mb-4">
                                            <input name="InputPassword" type="password" required id="form3Example4" class="form-control" />
                                            <label class="form-label" for="form3Example4">Password</label>
                                            
                                        </div>



                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                #main-login {
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
            <!-- Jumbotron -->
        </section>
    </div>
    <!-- Section: Design Block -->
</body>
</html>